<form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="example-form">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Название</mat-label>
    <input matInput formControlName="title">
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Цена</mat-label>
    <input matInput formControlName="price">
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Год</mat-label>
    <input matInput formControlName="year">
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Чип</mat-label>
    <input matInput formControlName="chip">
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>SSD</mat-label>
    <input matInput formControlName="SSD">
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Память</mat-label>
    <input matInput formControlName="memory">
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Дисплей</mat-label>
    <input matInput formControlName="display">
  </mat-form-field>
  <button class="button mr-[5px]" mat-flat-button color="primary" type="submit">Добавить товар</button>
  <button class="button" mat-flat-button color="primary" (click)="onNoClick()">Отмена</button>
</form>
